* {
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(135deg, #0784f8, #aadbf1);
  width:100%;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
}
.title {
  color: #111fe7;
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.name,
.email,
.password,
.checkbox {
  margin: 20px;
  color:black;
  font-size: 16px;
  
}

.password  {
  margin-bottom: 30px;

}
.input{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  border-bottom: 30px;
}
.error{
  color:red;
}
.submit{
  display: flex;
  text-transform: uppercase;
  margin: 30px 20px 0px 20px;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 120px;
  
  background: rgb(66, 66, 228);
  box-shadow: rgba(0, 0, 0, 0.3)0px 19px 18px,
  rgba(0, 0, 0, 0.22) 0px 15px 17px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active{
  transform: translateY(2px);
  text-align: center;

}
.form-success{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #f80759;
}